{
    "blueprint": "{{cluster.name}}", 
    "config_recommendation_strategy": "ALWAYS_APPLY_DONT_OVERRIDE_CUSTOM_VALUES", 
    "credentials": [
        {
            "alias": "kdc.admin.credential", 
            "key": "{{kerberos.admin_princ_pswd}}", 
            "principal": "admin/admin@{{kerberos.realm}}", 
            "type": "TEMPORARY"
        }
    ], 
    "default_password": "{{kerberos.admin_princ_pswd}}", 
    "host_groups": [
        {
            "hosts": [
                {
                    "fqdn": "{{hostvars[groups['gateway'][0]].ansible_fqdn}}"
                }
            ], 
            "name": "host_group_gateway"
        }, 
        {
            "hosts": [
                {
                    "fqdn": "{{hostvars[groups['agent'][0]].ansible_fqdn}}"
                }
            ], 
            "name": "host_group_master"
        }, 

        {
            "hosts": [
            {% for host in groups['agent'][1:] %}
                {
                    "fqdn": "{{ hostvars[host].ansible_fqdn }}"
                }{% if not loop.last %},{% endif %} 
            {% endfor %}
            ], 
            "name": "host_group_slave"
        }
    ], 
    "provision_action": "START_ONLY", 
    {% if  release.hdf.install == "yes" and release.hdf.purge == "yes" %}
    "repository_version": "{{release.hdf.version}}", 
    {% else %}
    "repository_version": "{{release.hdp.version}}",
    {% endif %}
    "security": {
        "kerberos_descriptor": {
            "identities": [
                {
                    "name": "smokeuser", 
                    "principal": {
                        "type": "user", 
                        "value": "${cluster-env/smokeuser}@{{kerberos.realm}}"
                    }
                }, 
                {
                    "name": "ambari-server", 
                    "principal": {
                        "type": "user", 
                        "value": "ambari-server@{{kerberos.realm}}"
                    }
                }
            ], 
            "properties": {
                "principal_suffix": ""
            }, 
            "services": [
                {
                    "components": [
                        {
                            "identities": [
                                {
                                    "name": "hdfs", 
                                    "principal": {
                                        "type": "user", 
                                        "value": "${hadoop-env/hdfs_user}@{{kerberos.realm}}"
                                    }
                                }
                            ], 
                            "name": "NAMENODE"
                        }
                    ], 
                    "identities": [], 
                    "name": "HDFS"
                }, 
                {
                    "components": [], 
                    "identities": [
                        {
                            "name": "hbase", 
                            "principal": {
                                "type": "user", 
                                "value": "${hbase-env/hbase_user}@{{kerberos.realm}}"
                            }
                        }
                    ], 
                    "name": "HBASE"
                }, 
                {
                    "components": [], 
                    "identities": [
                        {
                            "name": "streamline_components", 
                            "principal": {
                                "type": "user", 
                                "value": "streamline-rnd{%for i in range(4) %}{{"abcdefghijklmnopqrstuvwxyz"|random}}{%endfor%}@{{kerberos.realm}}"
                            }
                        }
                    ], 
                    "name": "STREAMLINE"
                }, 
                {
                    "components": [], 
                    "identities": [
                        {
                            "name": "smokeuser", 
                            "principal": {
                                "type": "user", 
                                "value": "smokeuser-rnd{%for i in range(4) %}{{"abcdefghijklmnopqrstuvwxyz"|random}}{%endfor%}@{{kerberos.realm}}"
                            }
                        }
                    ], 
                    "name": "registry"
                }, 
                {
                    "components": [], 
                    "identities": [
                        {
                            "name": "storm_components", 
                            "principal": {
                                "type": "user", 
                                "value": "storm-rnd{%for i in range(4) %}{{"abcdefghijklmnopqrstuvwxyz"|random}}{%endfor%}@{{kerberos.realm}}"
                            }
                        }
                    ], 
                    "name": "STORM"
                }
            ]
        }, 
        "type": "KERBEROS"
    }
}