##########################
# 1, HOST GROUP DEFINITIONS
##########################


# GATEWAY
{% macro host_group_gateway(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "INFRA_SOLR_CLIENT"
                }               
{%- endmacro %}


# AGENT-MASTER(HA)
{% macro host_group_ha_master(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "INFRA_SOLR_CLIENT"
                }
{%- endmacro %}


# AGENT-MASTER
{% macro host_group_master(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "INFRA_SOLR"
                }
{%- endmacro %}



# AGENT-SLAVE
{% macro host_group_slave(joint,hostvars,groups) -%}
{%- endmacro %}



##########################
# 2, CONFIGURATIONS
##########################

{% macro configurations(joint,hostvars,groups) -%} {{ joint() }}
    {
      "infra-solr-client-log4j": {
        "properties": {
          "infra_solr_client_log_dir": "/grid/0/log/ambari-infra-solr-client"
        }
      }
    }
{%- endmacro %}

##########################
# 3, KERBEROS DESCRIPTORS
##########################
{% macro kerberos_descriptor_services(joint,hostvars,groups) -%}
{%- endmacro %}