##########################
# 1, HOST GROUP DEFINITIONS
##########################


# GATEWAY
{% macro host_group_gateway(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "KERBEROS_CLIENT"
                }               
{%- endmacro %}


# AGENT-MASTER(HA)
{% macro host_group_ha_master(joint,hostvars,groups) -%}
{%- endmacro %}


# AGENT-MASTER
{% macro host_group_master(joint,hostvars,groups) -%}
{%- endmacro %}



# AGENT-SLAVE
{% macro host_group_slave(joint,hostvars,groups) -%}
{%- endmacro %}



##########################
# 2, CONFIGURATIONS
##########################

{% macro configurations(joint,hostvars,groups) -%} {{ joint() }}
    {
            "kerberos-env": {
                "properties": {
                    "admin_server_host": "{{hostvars[groups['kdc'][0]].ansible_fqdn}}", 
                    "encryption_types": "aes des3-cbc-sha1 rc4 des-cbc-md5", 
                    "kdc_hosts": "{{hostvars[groups['kdc'][0]].ansible_fqdn}}", 
                    "kdc_type": "mit-kdc", 
                    "realm": "{{hostvars[groups['all'][0]].kerberos.realm}}", 
                    "service_check_principal_name": "cl1-7D6HQ1NTHV"
                }
            }

    }
{%- endmacro %}

##########################
# 3, KERBEROS DESCRIPTORS
##########################
{% macro kerberos_descriptor_services(joint,hostvars,groups) -%} 
{%- endmacro %}