##########################
# 1, HOST GROUP DEFINITIONS
##########################


# GATEWAY
{% macro host_group_gateway(joint,blueprint) -%} {{ joint() }}
                {
                    "name": "KERBEROS_CLIENT"
                }               
{%- endmacro %}


# AGENT-MASTER(HA)
{% macro host_group_ha_master(joint,blueprint) -%}
{%- endmacro %}


# AGENT-MASTER
{% macro host_group_master(joint,blueprint) -%}
{%- endmacro %}



# AGENT-SLAVE
{% macro host_group_slave(joint,blueprint) -%}
{%- endmacro %}



##########################
# 2, CONFIGURATIONS
##########################

{% macro configurations(joint,hostvars,groups,kerberos) -%} {{ joint() }}
    {
            "kerberos-env": {
                "properties": {
                    "admin_server_host": "{{hostvars[groups['kdc'][0]].ansible_fqdn}}", 
                    "encryption_types": "aes des3-cbc-sha1 rc4 des-cbc-md5", 
                    "kdc_hosts": "{{hostvars[groups['kdc'][0]].ansible_fqdn}}", 
                    "kdc_type": "mit-kdc", 
                    "realm": "{{kerberos.realm}}", 
                    "service_check_principal_name": "cl1-7D6HQ1NTHV"
                }
            }

    }
{%- endmacro %}

##########################
# 3, KERBEROS DESCRIPTORS
##########################
{% macro kerberos_descriptor_services(joint,kerberos) -%} {{ joint() }}
        {
          "components": [
            {
              "name": "NAMENODE",
              "identities": [
                {
                  "name": "hdfs",
                  "principal": {
                    "value": "${hadoop-env/hdfs_user}@${{ kerberos.realm }}",
                    "type": "user"
                  }
                }
              ]
            }
          ],
          "name": "HDFS",
          "identities": []
        }
{%- endmacro %}