{
    "blueprint": "{{cluster.name}}", 
    "config_recommendation_strategy": "ALWAYS_APPLY_DONT_OVERRIDE_CUSTOM_VALUES", 
    "credentials": [
        {
            "alias": "kdc.admin.credential", 
            "key": "{{kerberos.admin_princ_pswd}}", 
            "principal": "admin/admin@{{kerberos.realm}}", 
            "type": "TEMPORARY"
        }
    ], 
    "default_password": "{{kerberos.admin_princ_pswd}}", 
    "host_groups": [
        {
            "hosts": [
                {
                    "fqdn": "{{hostvars[groups['gateway'][0]].ansible_fqdn}}"
                }
            ], 
            "name": "host_group_gateway"
        }, 
        {
            "hosts": [
                {
                    "fqdn": "{{hostvars[groups['agent'][0]].ansible_fqdn}}"
                }
            ], 
            "name": "host_group_master"
        }, 
        {
            "hosts": [
                {
                    "fqdn": "{{hostvars[groups['agent'][1]].ansible_fqdn}}"
                }
            ], 
            "name": "host_group_ha_master"
        }, 
        {
            "hosts": [
            {% for host in groups['agent'][2:] %}
                {
                    "fqdn": "{{ hostvars[host].ansible_fqdn }}"
                }{% if not loop.last %},{% endif %} 
            {% endfor %}
            ], 
            "name": "host_group_slave"
        }
    ], 
    "provision_action": "START_ONLY", 
    {% if  release.hdf.install == "yes" and release.hdf.purge == "yes" %}
    "repository_version": "{{release.hdf.version}}", 
    {% else %}
    "repository_version": "{{release.hdp.version}}",
    {% endif %}
    "security": {
    {%if kerberos.enable %}
        "kerberos_descriptor": {
            "identities": [
                {
                    "name": "smokeuser", 
                    "principal": {
                        "type": "user", 
                        "value": "${cluster-env/smokeuser}@{{kerberos.realm}}"
                    }
                }, 
                {
                    "name": "ambari-server", 
                    "principal": {
                        "type": "user", 
                        "value": "ambari-server@{{kerberos.realm}}"
                    }
                }
            ], 
            "properties": {
                "principal_suffix": ""
            }, 
            "services": [
    {% set joint = joiner(",") %}
    {% for service in blueprint.services %}
        {% import 'templates/' + blueprint.location + '/' + service + '.json.j2' as unit %}
        {{ unit.kerberos_descriptor_services(joint,hostvars,groups) }}
    {% endfor %}          
            ]
        }, 
        "type": "KERBEROS"
    {% endif %}
    }

}