##########################
# 1, HOST GROUP DEFINITIONS
##########################


# GATEWAY
{% macro host_group_gateway(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "YARN_CLIENT"
                }               
{%- endmacro %}


# AGENT-MASTER(HA)
{% macro host_group_ha_master(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "RESOURCEMANAGER"
                }
{%- endmacro %}


# AGENT-MASTER
{% macro host_group_master(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "YARN_CLIENT"
                },
                {
                    "name": "YARN_REGISTRY_DNS"
                },
                {
                    "name": "TIMELINE_READER"
                },
                {
                    "name": "APP_TIMELINE_SERVER"
                }
{%- endmacro %}



# AGENT-SLAVE
{% macro host_group_slave(joint,hostvars,groups) -%} {{ joint() }}
                {
                    "name": "NODEMANAGER"
                },
                {
                    "name": "YARN_CLIENT"
                }
{%- endmacro %}



##########################
# 2, CONFIGURATIONS
##########################

{% macro configurations(joint,hostvars,groups) -%} {{ joint() }}
    {
      "yarn-site": {
        "properties": {
          {% if hostvars[groups['all'][0]].blueprint.settings.yarn.ha %}
          "yarn.resourcemanager.am.max-attempts": "20",
          "yarn.nodemanager.recovery.enabled": "true",
          "yarn.resourcemanager.recovery.enabled": "true",
          "yarn.resourcemanager.work-preserving-recovery.enabled": "true",
          "yarn.resourcemanager.scheduler.address": "%HOSTGROUP::host_group_master%:8030",
          "yarn.timeline-service.bind-host": "0.0.0.0",
          "yarn.timeline-service.leveldb-timeline-store.start-time-read-cache-size": "10000",
          "yarn.resourcemanager.hostname.rm2": "%HOSTGROUP::host_group_ha_master%",
          "yarn.resourcemanager.webapp.address": "%HOSTGROUP::host_group_master%:8088",
          "yarn.resourcemanager.zk-address": "%HOSTGROUP::host_group_slave%:2181",
          "yarn.resourcemanager.address": "%HOSTGROUP::host_group_master%:8050",
          "yarn.resourcemanager.bind-host": "0.0.0.0",
          "yarn.resourcemanager.hostname": "%HOSTGROUP::host_group_master%",
          "yarn.resourcemanager.ha.automatic-failover.zk-base-path": "/yarn-leader-election",
          "yarn.timeline-service.leveldb-timeline-store.read-cache-size": "104857600",
          "yarn.resourcemanager.store.class": "org.apache.hadoop.yarn.server.resourcemanager.recovery.ZKRMStateStore",
          "yarn.resourcemanager.webapp.address.rm1": "%HOSTGROUP::host_group_master%:8088",
          "yarn.resourcemanager.resource-tracker.address": "%HOSTGROUP::host_group_master%:8025",
          "yarn.resourcemanager.resource-tracker.address.rm1": "%HOSTGROUP::host_group_master%:8025",
          "yarn.resourcemanager.resource-tracker.address.rm2": "%HOSTGROUP::host_group_ha_master%:8025",
          "yarn.resourcemanager.cluster-id": "yarn-cluster",
          "yarn.resourcemanager.webapp.https.address": "%HOSTGROUP::host_group_master%:8088",
          "yarn.http.policy": "HTTP_ONLY",
          "yarn.timeline-service.client.max-retries": "30",
          "yarn.resourcemanager.admin.address": "%HOSTGROUP::host_group_master%:8141",
          "yarn.resourcemanager.ha.rm-ids": "rm1,rm2",
          "yarn.resourcemanager.ha.enabled": "true",
          "yarn.resourcemanager.hostname.rm1": "%HOSTGROUP::host_group_master%",
          "yarn.resourcemanager.webapp.address.rm2": "%HOSTGROUP::host_group_ha_master%:8088",
          "yarn.resourcemanager.scheduler.class": "org.apache.hadoop.yarn.server.resourcemanager.scheduler.capacity.CapacityScheduler"
          {% else %}
          "yarn.nodemanager.delete.debug-delay-sec": "3600",
          "yarn.nodemanager.local-dirs": "/grid/0/hadoop/yarn/local",
          "yarn.nodemanager.log-dirs": "/grid/0/hadoop/yarn/log",
          "yarn.timeline-service.leveldb-state-store.path": "/grid/0/hadoop/yarn/timeline",
          "yarn.timeline-service.leveldb-timeline-store.path": "/grid/0/hadoop/yarn/timeline",
          "yarn.nodemanager.address": "0.0.0.0:25454",
          "yarn.timeline-service.enabled" : "true"
          {% endif %}
          
        }
      }
    } {{ joint() }}
    {
      "yarn-env": {
        "properties": {
          "yarn_log_dir_prefix": "/grid/0/log/yarn"
        }
      }
    } {{ joint() }}
    {
      "capacity-scheduler": {
        "properties": {
          "yarn.scheduler.capacity.maximum-am-resource-percent": "0.4"
        }
      }
    }
{%- endmacro %}

##########################
# 3, KERBEROS DESCRIPTORS
##########################
{% macro kerberos_descriptor_services(joint,hostvars,groups) -%}
{%- endmacro %}