{% for group in ldap.groups %}
dn: cn={{ group.name }},ou=groups,{{ ldap.olcSuffix }}
objectclass:top
objectclass: groupofnames
cn: {{ group.name }}
description: {{ group.name }} group
{% for user in group.users %}
member: uid={{user}},ou=users,{{ ldap.olcSuffix }}
{% endfor %}

{% endfor %}
