{% for user in ldap.users|map(attribute='name')|unique %}
dn: uid={{ user }},ou=users,{{ ldap.olcSuffix }}
objectclass:top
objectclass:person
objectclass:organizationalPerson
objectclass:inetOrgPerson
cn: {{ user }}
sn: sir.{{ user }}
uid: {{ user }}
userPassword:{{ user }}

{% endfor %}