{% for user, db in users.items() %}
DROP DATABASE IF EXISTS `{{db.name}}`;
DELETE FROM mysql.user WHERE USER='{{db.name}}';
FLUSH PRIVILEGES;
{% endfor %}
commit;
{% for user, db in users.items() %}
CREATE DATABASE `{{db.name}}` /*!40100 DEFAULT CHARACTER SET utf8 */;
{% for host in ['%','localhost','127.0.0.1','::1'] %}
CREATE USER '{{db.name}}'@'{{host}}' IDENTIFIED BY '{{db.pswd}}';
{% endfor %}
GRANT ALL PRIVILEGES ON {{db.name}}.* TO '{{db.name}}'@'%';
{% endfor %}
commit;
